.form-layout{
  display:block;
}
.form-layout-row{
  float:left;
  display:block;
  width:100%;
}
.form-layout-data-label{
  float:left;
  display:inline-block;
  width:40%;
}
.form-layout-data-content{
  float:left;
  display:inline-block;
  width:60%;
}
.form-layout-textbox{
  display:block;
  float:left;
  wodth:100%;
}
.form-layout-button{

}